body {
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    flex-direction: row;

    --color-primary-dark: #5E0B15;
    --color-primary-light: #90323D;

    --color-alt-dark: #BC8034;
    --color-alt-light: #CBA574;

    --color-gray-light: #C5C9C7;
    --color-gray-medium: #A0989F;
    --color-gray-dark: #7A6677;

    --color-white: #f0f0f0;
    --color-black: #101010;
}

body.resize-horizontal, body.resize-vertical {
    user-select: none;
}

body.resize-horizontal {
    cursor: col-resize;
}

body.resize-vertical {
    cursor: row-resize;
}

#editor {
    display: flex;
    flex-direction: column;
    width: calc(75% - 0.5em);
    height: 100%;
    align-items: flex-start;
}

#editor-canvas {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

#editor-canvas.drag {
    cursor: grab;
}

#editor-toolbox {
    color: #202020;
    width: 100%;
    flex-wrap: wrap;
    font-size: 10pt;
    min-height: 1.9em;
    font-family: monospace;

    display: flex;
    flex-direction: row;
    padding-left: 0.3em;
}

#editor-toolbox > span {
    margin-left: 0.2em;
    margin-right: 0.2em;
    line-height: 1.9em;
}

button, input[type="text"] {
    all: unset;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    height: 1.7em;
    line-height: 1.3em;
    box-sizing: border-box;
    padding: 0.2em 0.4em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    border-radius: 1px;
}

button {
    cursor: pointer;
    user-select: none;
}

#editor-toolbox > button, #editor-toolbox > input[type="text"] {
    display: block;
    box-shadow: 0px -1px 4px -2px transparent;
    border: 1px solid #D9CAB3;
    background-color: transparent;
    transition: background-color 0.2s, box-shadow 0.2s, border 0.2s, color 0.2s;
}

#editor-toolbox > button:hover {
    cursor: pointer;
    box-shadow: 0px -1px 4px -2px rgba(0, 0, 0, 0.5);
    border-color: var(--color-alt-dark);
    background-color: var(--color-alt-light);
}

#editor-toolbox > button:active {
    background-color: var(--color-alt-dark);
    border-color: var(--color-primary-light);
}

#editor-toolbox > button.active:hover {
    background-color: var(--color-primary-dark);
    border-color: var(--color-black);
}

#editor-toolbox > button.active {
    border-color: var(--color-primary-dark);
    background-color: var(--color-primary-light);
    color: white;
}


#editor-toolbox > input[type="text"]:hover {
    border: 1px solid var(--color-primary-dark);
    background-color: rgba(0, 0, 0, 0.1);
}

#editor-toolbox > input[type="text"]:focus {
    border: 1px solid var(--color-black);
}

#editor-toolbox > input[type="text"]::placeholder {
    color: var(--color-gray-dark);
    opacity: 1;
}

#editor-info {
    color: var(--color-gray-dark);
}

#editor-info.loading {
    font-style: italic;
}

#manipulate {
    width: calc(25% - 0.5em);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#resizer {
    background: var(--color-gray-light);
    width: 1em;
    position: relative;
    cursor: col-resize;
}

#resizer > div, #resizer > div::before {
    content: "";
    position: absolute;
    width: 0.1em;
    height: 4em;
    background: var(--color-primary-light);
    transform: translate(-50%, -50%);
}

#resizer > div {
    left: calc(50% + 0.1em);
    top: 50%;
}

#resizer > div::before {
    left: -0.2em;
    top: 50%;
}

#settings {
    background: var(--color-gray-medium);
    padding: 2em 1em;
    font-family: monospace;
    font-size: 12pt;
}

#settings input[type="text"], #settings button {
    background: var(--color-white);
    border: 1px solid var(--color-primary-dark);
    border-radius: 2px;
    box-shadow: 0px 2px 4px -2px transparent;
    transition: background-color 0.2s, box-shadow 0.2s, border 0.2s, color 0.2s;
}

#settings input::placeholder {
    opacity: 1;
    color: var(--color-gray-dark);
}

#settings input:hover, #settings input:focus {
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.5);
}

#settings input.small {
    width: 5em;
}

#settings button:hover {
    border: 1px solid var(--color-black);
    background-color: var(--color-alt-light);
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.5);
}

#settings button:active {
    border: 1px solid var(--color-black);
    background-color: var(--color-alt-dark);
}

#preview {
    background: var(--color-white);
    color: var(--color-primary-dark);
    flex-grow: 1;
    padding: 0.5em 1em;
}

h2 {
    margin: 0.5em 0;
    font-size: inherit;
}

#settings .flex {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

#settings .flex * {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

#settings .flex.wrap {
    flex-wrap: wrap;
}
