body {
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    flex-direction: row;

    --color-primary-dark: #5E0B15;
    --color-primary-light: #90323D;

    --color-alt-dark: #BC8034;
    --color-alt-light: #CBA574;

    --color-gray-light: #C5C9C7;
    --color-gray-medium: #A0989F;
    --color-gray-dark: #7A6677;

    --color-white: #f0f0f0;
    --color-black: #101010;
}

#editor {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
}

#editor-canvas {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

#editor-canvas.drag {
    cursor: grab;
}

#editor-toolbox {
    color: #202020;
    width: 100%;
    flex-wrap: wrap;
    font-size: 10pt;
    min-height: 1.9em;
    font-family: monospace;

    display: flex;
    flex-direction: row;
    padding-left: 0.3em;
}

#editor-toolbox > span {
    margin-left: 0.2em;
    margin-right: 0.2em;
    line-height: 1.9em;
}

#editor-toolbox > button, #editor-toolbox > input[type="text"] {
    all: unset;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    border: 1px solid #D9CAB3;
    background-color: transparent;
    height: 1.7em;
    line-height: 1.3em;
    box-sizing: border-box;
    display: block;
    padding: 0.2em 0.4em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    box-shadow: 0px -1px 4px -2px transparent;
    user-select: none;
    border-radius: 1px;
    transition: background-color 0.2s, box-shadow 0.2s, border 0.2s, color 0.2s;
}

#editor-toolbox > button:hover {
    cursor: pointer;
    box-shadow: 0px -1px 4px -2px rgba(0, 0, 0, 0.5);
    border-color: var(--color-alt-dark);
    background-color: var(--color-alt-light);
}

#editor-toolbox > button:active {
    background-color: var(--color-alt-dark);
    border-color: var(--color-primary-light);
}

#editor-toolbox > button.active:hover {
    background-color: var(--color-primary-dark);
    border-color: var(--color-black);
}

#editor-toolbox > button.active {
    border-color: var(--color-primary-dark);
    background-color: var(--color-primary-light);
    color: white;
}


#editor-toolbox > input[type="text"]:hover {
    border: 1px solid var(--color-primary-dark);
    background-color: rgba(0, 0, 0, 0.1);
}

#editor-toolbox > input[type="text"]:focus {
    border: 1px solid var(--color-black);
}

#editor-toolbox > input[type="text"]::placeholder {
    color: var(--color-gray-dark);
    opacity: 1;
}

#editor-info {
    color: var(--color-gray-dark);
}

#editor-info.loading {
    font-style: italic;
}
